.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-image: url("../assets/Bgs/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .ActCardsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    margin-right:  50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    transition: all 1s;
    filter: blur(10px);
    perspective: 1000px;
    backface-visibility: hidden;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    filter: blur(0px);
    transition: all 1s;
    transform: scale(1.2);
  }
  
  .actTypeContainer {
    padding: 2px 16px;
  }
  .avatar{
    height: 200px;
  }
  
  
  .App-link {
    color: #09d3ac;
  }
  
  /*************SIDEBAR STYLE*************/
  .sidebarContainer{
    background-image: url('../assets/Bgs/sidebar-Bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: medium;
    color: white;
  }
  .avatar-profile{
    border-radius: 50%;
    background-color: cadetblue;
    width: 50%;
    margin-top: 12%;
  }
  .annee{
    padding-bottom:20px;
  }
  .name{
    margin-bottom: -10px;
  }
  .sidebar-Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    margin-bottom: 15%;
    transition: all 0.5s;
    
  }
  .sidebar-Item:hover{
   color: cadetblue;
   transition: all 1s;
   cursor: grab;
  }
  a{
   
    font-size: 12px;
    color: rgb(53, 125, 128);
    transition: all 1s;
    text-decoration: none;
    margin-top: 1px;
  }
  a:hover{
    color: white;
    transition: all 1s;
  }
  .Dash{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height:100%;
    width: 99.5%;
  }
  .st-home{
    background-image: url('../assets/Bgs/st_bg_dash.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #tip-icon{
    margin-top: 50px;
    margin-bottom: 2%;
    transition: all 1s;
    color: cadetblue
    
  }
  #tip-icon:hover{
    transition: all 1s;
    color: rgb(250, 204, 0);
    transform: scale(1.3);
  }
  #tip-title{
    color: cadetblue;
    margin-bottom: 5%;
    font-size: 50 px;
  }
  #tips-row{
    display: flex;
    flex-direction: row;
  }
  #tip-card-1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    width: 400px;
    margin-right:  50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    transition: all 1s;
    background-image: url(../assets/Bgs/tip-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #tip-card-1:hover{
    transition: all 1s;
    transform: translate(65%) scale(2); 
    z-index: 5;
  }
  #tip-card-2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    width: 400px;
    margin-right:  50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    transition: all 1s;
    background-image: url('../assets/Bgs/tip-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #tip-card-2:hover{
    transition: all 1s;
    transform: translate(-65%) scale(2);
    z-index: 5;
  }
  #tip-icon-12{
    color:cadetblue;
    transition: all 1s;
    margin-top: 1%;
  }
  #tip-icon-12:hover{
    color: rgb(250, 204, 0);
    transform: scale(1.3);
  }
  #tip-paragraph{
    padding-left: 15px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
  }
  .welcome{
    color: aliceblue;
    position: relative;
    top: 200px;
    size: 100px;
  }
  