.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url("./assets/Bgs/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ActCardsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  margin-right:  50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  transition: all 1s;
  filter: blur(10px);
  perspective: 1000px;
  backface-visibility: hidden;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  filter: blur(0px);
  transition: all 1s;
  transform: scale(1.2);
}

.actTypeContainer {
  padding: 2px 16px;
}
.avatar{
  height: 200px;
}


.App-link {
  color: #09d3ac;
}

/*************SIDEBAR STYLE*************/
.sidebarContainer{
  background-image: url('./assets/Bgs/sidebar-Bg.jpg') ;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: medium;
  color: white;
}
.avatar-profile{
  border-radius: 50%;
  background-color: cadetblue;
  height: 15%;
  margin-top: 12%;
}
.annee{
  padding-bottom:20px;
}
.name{
  margin-bottom: -10px;
}
.sidebar-Item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  margin-bottom: 10%;
  transition: all 0.5s;
  
}
.sidebar-Item:hover{
 color: cadetblue;
 transition: all 1s;
 cursor: grab;
}
a{
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  font-size: 12px;
  color: rgb(53, 125, 128);
  transition: all 1s;
  text-decoration: none;
}
a:hover{
  color: white;
  transition: all 1s;
}